* {
    border: none;
    border-radius: 0;
    font-family: Hack Nerd Font;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
}

#window {
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#language {
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#backlight {
    background: orange;
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#wireplumber {
    background: purple;
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#wireplumber.muted {
    background: green;
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#network {
    background: SteelBlue;
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#network.disconnected {
    background: #f53c3c;
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    background: #64727D;
    border-bottom: 3px solid white;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


